<div class="row mt-5 text-center">
    <div class="col-md-12">
        <img src="/images/logo.png" style="filter: grayscale(100%);">
    </div>
</div>
<div class="row mt-4 text-center">
    <div class="col-md-12">
        <h1>{{title}}</h1>
        <a href="/" class="btn btn-link mt-5">GO HOME</a>
    </div>
</div>

